
*{
    height : 100%;
    text-align: left;
    background: linear-gradient(to right ,#D8B4FE , #f7d5ff );
    display: flex;
    margin-top: 100%;
    margin-right: 20px;
    margin: auto;
    padding: 5px;
    justify-content: space-between;
    border-radius: 15px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 0;
    width: calc();

    position: absolute;
    position: relative;

    position: fixed;
    cursor: pointer;
    bottom: ;
/* margin: [top] [right] [bottom] [left]; */
}