.btnBox{
    /* width: 150px;
    height: 50px;
    background-color: #030213;
    color: #f3f3f3;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center; */
}