.C_writingBtn{
    width: 80px;
    height: 80px;
    background-color: #A855F7;
    border-radius: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}