.tabBar{
    display: flex;
    width: 100%;
    height: 50px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    background-color: #ececf0;
}
.tabBar > h4{
    display: block;
    width: 50%;
    height: 40px;
    text-align: center;
    line-height: 45px;
    margin: 5px;
    border-radius: 10px;
    background-color:#fff;
    color: #030213;
}
.tabBar > h4:hover{
    color: #fff;
    background-color: #030213;
}